<p id="notice"><%= notice %></p>



<p>
  <strong>Cantidad producto:</strong>
  <%= @carro.cantidad_producto %>
</p>

<%= link_to 'Editar', edit_carro_path(@carro) %> |
<%= link_to 'Volver', carros_path %>
