
<div class="panel panel-primary">
  <h3> Las tres B</h3>
  <span class="tn btn-success btn-lg bt pull-right glyphicon glyphicon-plus"><%= link_to 'Ingresar al Sistema',new_user_path %></span> | <span class="tn btn-success btn-lg bt pull-right glyphicon glyphicon-plus"><%= link_to 'Registrar nuevo usuario',new_user_path %></span>
</div>