html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}


.be-red{
	background-color: rgb(200,50,50);
}
.black{
	color: black;
}
.large-padding{
	padding: 15px 10px;
}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 12px
}