<div class="panel panel-primary">
  <h1> Lista de emails</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
  <% @user.each do |user|%>
      <tr>
        <td><%=user.email %></td>
        <td>
          <span class="glyphicon glyphicon-play" aria-hidden="true" ></span><%= link_to 'Mostrar', email %> 
          </td>
        <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><%= link_to'Eliminar', email , method: :delete, data: {confirm: 'Esta seguro?'} %> </td>
      </tr>
  <%end%>
  </tbody>
</table>