<p id="notice"><%= notice %></p>
<h1> Lista de e-mails</h1>
	
<table class= "striped">
	<thead>
		<tr>
			<th data-field="email">email</th>
		</tr>
	</thead>
	<tbody>
		
		   <td><%= @user.email%> </td>
	</tbody>
</table>
<%= link_to 'Volver', user_path %>