<!DOCTYPE html>
<html>
<head>
  <title>las tres B</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>

    <h1>chao</h1>

<table>

  <tr>
<td>
  colmua 1
</td>
<td>
   www.google.com
</td>
<td>

	col 3

</td>

  </tr>
</table>

		<nav class="be-red write">
			<ul class="no-list row center-xs">
				<li class="cold-md">
					inicio
				</li>
				<li class="cold-md">
					introduccion
				</li>
				<li class="cold-md">
					desarrollo
				</li>
				<li class="cold-md">
					final
				</li>
			</ul>
		</nav>
	</header>

<%= yield %>

</body>


</html>
